services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - sqlserver
    env_file:
      - ./backend/.env
    environment:
      - DB_HOST=sqlserver
    ports:
      - "3333:3333"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev
    restart: no

volumes:
  sql_data:
