<div *ngIf="estoque.isLoading()">Carregando...</div>
<div *ngIf="estoque.isError()">Erro ao carregar estoque</div>

<table mat-table [dataSource]="estoque.data() ?? []" class="mat-elevation-z1">
  <ng-container matColumnDef="codigoProduto">
    <th mat-header-cell *matHeaderCellDef>Código do Produto</th>
    <td mat-cell *matCellDef="let row">{{ row.codigoProduto }}</td>
  </ng-container>

  <ng-container matColumnDef="descricaoProduto">
    <th mat-header-cell *matHeaderCellDef>Descrição do Produto</th>
    <td mat-cell *matCellDef="let row">{{ row.descricaoProduto }}</td>
  </ng-container>

  <ng-container matColumnDef="estoque">
    <th mat-header-cell *matHeaderCellDef>Estoque</th>
    <td mat-cell *matCellDef="let row">{{ row.estoque }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="abrirMovimentacao(row)">
        Movimentar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>